.box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    &__title {
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid $color-secondary;
        padding-bottom: 8px;
    }
}