.checkbox-image {
    position: relative;
    width: 200px;
    height: 150px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .form-checkbox {
        position: absolute;
        bottom: 32px;
        left: 10px;
    } 

    &--add {
        color: $color-secondary;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid $color-secondary;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        p {
            display: block;
            margin: 4px 0;
            cursor: pointer;
        }
    }
}