.filter-box {
    position: sticky;
    top: 80px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 2;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        max-width: 960px;

        div {
            margin: 0 10px;


            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__copy {
        display: inline-block;        
        position: relative;
        padding: 0 16px;
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;

        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 6px;
            font-family: onee;
            transform: translateY(-50%);
            content: iconfont-item('icon-down');
        }

        &.active,
        &:hover,
        &:focus,
        &:active,
        &:not([href]):hover {
            color: $color-link;
        }
        
    }

    &__button {
        padding: 0 24px 0 16px;
        height: 34px;
        line-height: 34px;
        background-color: #fff;
        border: solid 1px #f1561a;
        color: $color-secondary;

        &.active,
        &:hover,
        &:active,
        &:focus,
        &:not(:disabled):not(.disabled):active {
            color: $color-link;
            border-color: $color-link;
            background-color: #fff;
            outline: none;
            transition: ease-in-out .4s all;
        }
    }

    &__clear {
        position: relative;        
        color: $color-secondary;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: $color-secondary;
            content: "";
        }

        button {
            margin: 0 0 0 16px;
            font-size: 14px;
            color: $color-secondary;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}
