.map {
    display: none;

    &-popover {
        max-width: 210px;
    }

    &-container {
        position: fixed;
        top: 210px;
        right: 0;
        bottom: 0;
        z-index: 3;

        &.is-open {
            display: block;
            width: 500px;
            transition:  ease-in .2s all;
    
            @include media-breakpoint-down(md){
                width: 100%;
            }

            .map {
                display: block;
                height: 100%;
            }
        }
    }
    
    &.is-open {
        display: block;
        z-index: 3;
        transition:  ease-in .2s all;

        @include media-breakpoint-down(md){
            width: 100%;
        }
    }

    &.detail-type {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        overflow: hidden;
    }
}