.page-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    list-style: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;

    &-link {
        margin: 0 8px;
        padding: 5px 20px;
        color: $color-text;
        font-size: 14px;
        font-weight: 500;

        &:hover {
            color: $color-text;
            background-color: #e8e8ea;
            border-radius: 15px;
            transition: ease-in .2s all;
            text-decoration: none;
        }

        &.active {
            background-color: #e8e8ea;
            border-radius: 15px;
        }
    }
}