.page-header {
    width: 100%;
    height: 80px;
    background-image: url('../../img/page-header.png');
    background-position: top left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    

    .header {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        background-color: transparent;
    }
}