.pagination {
    .page-item {
        margin: 0 4px;

        &.active {
            .page-link {
                background-color: $color-secondary;
                border-color: $color-secondary;
                color: #fff;
            }
        }
    }

    .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50% !important;
        font-size: 14px;
        font-weight: bold;
        padding: 0;
        border: solid 1px #9b9b9b;
        background-color: #fff;
        color: #9b9b9b;
    }
}