.property-slider {

    &-title {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 32px;
        text-align: center;
    }

    .section-hr {
        margin-bottom: 45px;
    }
}