.rating {
    display: flex;
    align-items: center;
    height: 25px;

    &-icon {
        display: inline;
        margin-right: 5px;
        color: #d0d1d5;
        font-size: 16px;

        &:before {
            float: none;
        }
        
        &.filled {
            color: #f0d355;
        }
    }

    &-count {
        color: #9b9b9b;
        font-size: 14px;
        font-weight: normal;
        margin-left: 8px;
    }
}