.visitor {

    &-counter {
        padding: 5px 25px;
    }

    &-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid $secondary;

        &:last-child {
            border-bottom: 0;
        }
    }
}

.count {
    width: 40px;
    font-size: 20px;
    text-align: center;

    &-box {
        display: flex;
        align-items: center;
    }

    &-btn {
        width: 32px;
        height: 32px;
        border-radius: 50px;
        background: #fff;
        color: $secondary;
        font-size: 24px;
        border: 1px solid $secondary;
        line-height: 1;
        outline: none;

        &:disabled {
            border-color: #ccc;
            color: #ccc;
        }
    }
}