
.boxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1561a;
    padding-bottom: 20px;
    margin-bottom: 20px;

    h2 {
        margin-bottom: 0;
        font-size: 28px;
        font-weight: normal;
    }

    button {
        width: 90px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 8px;
    }
}


.boxFooter {
    margin: 32px 0 64px;
    display: flex;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 500;

    & > * {
        width: 100%;
    }
}