
@import "./bootstrap/bootstrap.scss";
@import "./settings";
@import "./components/_components";
@import "./layout";
@import "./icons";

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next';

    & > div {
        width: 100%;
    }
}

.container {
    max-width: 1340px;
}

.page {

    &-wrap {
        padding: 0;
    }
}